<section id="header">
  <a routerLink="#"><img id="logo" src="assets/images/h-t.jpg" alt=""></a>

  <div>
      <ul id="navbar">
          <li><a [ngClass]="{active: getRoute() === '/'}" routerLink="">Home</a></li>
          <li><a [ngClass]="{active: getRoute() === '/shop'}" routerLink="shop">Shop</a></li>
          <li><a [ngClass]="{active: getRoute() === '/cart'}" routerLink="cart">Cart</a></li>
          <li><a [ngClass]="{active: getRoute() === '/blog'}" routerLink="blog">Blog</a></li>
          <li><a [ngClass]="{active: getRoute() === '/myAccount'}" routerLink="myAccount">My Account</a></li>
      </ul>
  </div>
</section>
